<form action="/"> 
    <h3>Produto Registrado com sucesso:</h3>
    <h4>{{autor}}</h4>
    <h4>{{categoria}}</h4>
    <h4>{{dLançamento}}</h4>
    <h4>{{descrição}}</h4>
    <h4>{{disponibilidade}}</h4> 
    <h4>{{isbn}}</h4>
    <h4>{{nome}}</h4>
    <h4>{{valor}}</h4>
    <h4>{{desconto}}</h4>
    <h4>{{quantidade}}</h4>
<input type="submit" value="voltar">
</form>